# assiment2

### 1. Write a Python program to convert kilometers to miles?

In [3]:
# type 1
user_km = int(input("enter user of kilometer"))
mile = user_km*0.625
print("convert kilometer to mile :",  mile )

enter user of kilometer 12

convert kilometer to mile : 7.5

In [7]:
# type 2
def my_kilometer(arg):
    mile = arg*0.625
    print("convert kilometer to mile :",  mile )

kilometer = int(input('enter your kilomerter :'))

enter your kilomerter : 10

In [9]:
my_kilometer(kilometer)

convert kilometer to mile : 6.25

### 2. Write a Python program to convert Celsius to Fahrenheit?

In [10]:
temp_celsius = int(input("enter the value of temp celsious",))
temp_fahrenheit = temp_celsius*9/5 + 32
print(f"convert ceksius to fahrenheit :", temp_fahrenheit)

enter the value of temp celsious 12

convert ceksius to fahrenheit : 53.6

In [21]:
def my_celsious(celsious):
    fahrenheit = celsious*9/5 + 32
    print(f"convert celsious to fahrenheit :", fahrenheit)

celsious = int(input("enter your celsious"))

enter your celsious 12

In [27]:
my_celsious(12)

convert celsious to fahrenheit : 53.6

### 3. Write a Python program to display calendar?

In [33]:
import calendar
yy = 2024
mm = 8
dd = 7
print(calendar.month(yy,mm,dd))

                      August 2024
  Mon     Tue     Wed     Thu     Fri     Sat     Sun
                            1       2       3       4
    5       6       7       8       9      10      11
   12      13      14      15      16      17      18
   19      20      21      22      23      24      25
   26      27      28      29      30      31

### 4. Write a Python program to solve quadratic equation?

In [43]:
import cmath 
x = 4
y = 7
z = 9
a = (y**2) - (4 * x * Z )

solve = (-b - cmath.sqrt(a))/(2*x)
print(solve)

NameError: name 'Z' is not defined

### 5. Write a Python program to swap two variables without temp variable?

In [12]:
swap1 = 35
swap2 = 25

temp = swap1 
swap1 = swap2
swap2 = temp

print(swap1,swap2)

25 35

In [ ]:
swap1 = 45
swap2 = 55

swap1 , swap2 = swap2 , swap1
print(swap1 , s