# assiment2

### 1. Write a Python program to convert kilometers to miles?

In [3]:
# type 1
user_km = int(input("enter user of kilometer"))
mile = user_km*0.625
print("convert kilometer to mile :",  mile )

enter user of kilometer 12

convert kilometer to mile : 7.5

In [7]:
# type 2
def my_kilometer(arg):
    mile = arg*0.625
    print("convert kilometer to mile :",  mile )

kilometer = int(input('enter your kilomerter :'))

enter your kilomerter : 10

In [9]:
my_kilometer(kilometer)

convert kilometer to mile : 6.25

### 2. Write a Python program to convert Celsius to Fahrenheit?

In [10]:
temp_celsius = int(input("enter the value of temp celsious",))
temp_fahrenheit = temp_celsius*9/5 + 32
print(f"convert ceksius to fahrenheit :", temp_fahrenheit)

enter the value of temp celsious 12

convert ceksius to fahrenheit : 53.6

In [1]:
def my_celsious(celsious):
    fahrenheit = celsious*9/5 + 32
    print(f"convert celsious to fahrenheit :", fahrenheit)
    return fahrenheit
celsious = int(input("enter your celsious"))

enter your celsious 12

In [2]:
my_celsious(12)

convert celsious to fahrenheit : 53.6

53.6

### 3. Write a Python program to display calendar?

In [33]:
import calendar
yy = 2024
mm = 8
dd = 7
print(calendar.month(yy,mm,dd))

                      August 2024
  Mon     Tue     Wed     Thu     Fri     Sat     Sun
                            1       2       3       4
    5       6       7       8       9      10      11
   12      13      14      15      16      17      18
   19      20      21      22      23      24      25
   26      27      28      29      30      31

In [9]:
import calendar

print(calendar.calendar(2025,m=6,))

                                                                         2025

      January                   February                   March                     April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2          1  2  3  4  5  6                1  2  3  4                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    31                                                                            30

        July                     August                  September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7             1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30                     27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

### 4. Write a Python program to solve quadratic equation?

In [12]:
import cmath 

a = 4
b = 7
c = 9

dis = (b**2) - (4*a*c)

ans1 = (-b - cmath.sqrt(dis))/(2*a)
ans2 = (-b + cmath.sqrt(dis))/(2*a)

print('the root are')
print(ans1)
print(ans2)

the root are
(-0.875-1.2183492931011204j)
(-0.875+1.2183492931011204j)

### 5. Write a Python program to swap two variables without temp variable?

In [12]:
swap1 = int(input("enter your swap1",
swap2 = 25

temp = swap1 
swap1 = swap2
swap2 = temp

print(swap1,swap2)

25 35

In [ ]:
swap1 = int(input("enter your number : "))
swap2 = int(input("enter your number"))

swap1 , swap2 = swap2 , swap1
print(swap1 , swap2)

enter your number :  34